@import "./normalize.css";

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v16-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/dm-sans-v16-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dm-sans-v16-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v43-latin-regular.woff2") format("woff2");
}

:root {
  /* ========= FONT FAMILY ========= */
  --font-primary: "DM Sans", sans-serif;

  /* ========= FONT SIZES ========= */
  --fs-preset-1: 6.4rem; /* 64px */
  --fs-preset-1-mobile: 4rem; /* 40px */
  --fs-preset-2: 2.4rem; /* 24px */
  --fs-preset-3: 2rem; /* 20px */
  --fs-preset-4: 1.6rem; /* 16px */

  /* ========= LINE HEIGHT (RATIO) ========= */
  --lh-100: 1; /* 100% */
  --lh-130: 1.3; /* 130% */

  /* ========= LETTER SPACING ========= */
  --ls--1: -1px;
  --ls--06: -0.6px;

  /* ========= COLORS ========= */
  /* Neutral */
  --neutral-900: #12131a;
  --neutral-800: #21222c;
  --neutral-700: #2a2b37;
  --neutral-600: #404254;
  --neutral-500: #e4e4ef;
  --neutral-400: #f2f2f7;
  --neutral-0: #ffffff;

  /* Purple */
  --blue-400: #d3a0fa;
  --blue-500: #c27cf8;

  /* Yellow */
  --yellow-500: #ff9f00;

  /* Orange */
  --orange-500: #fe8159;
  --orange-800: #fe5b19;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: flex;
  object-fit: cover;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
  font-size: var(--fs-preset-4);
  line-height: var(--lh-100);
}

h1 {
  margin: 0;
}

main {
  flex-grow: 1;
}

input,
button,
textarea {
  font-family: inherit;
}
